$w: #ffffff;
$b: #000000;
$background: #f0f9ff;
$blue-d: #1e3a8a;
$blue-f: #111827;
$blue-f-line: #1f2937;
$btn-blue-d: #2563eb;
$btn-blue-l: #dbeafe;
$btn-blue-p: #1d4ed8;
$btn-green: #16a34a;
$btn-red-l: #fee2e2;
$title: #0A0A0A;
$text-on-l: #4b5563;
$text-on-d: #9ca3af;
$text-r: #dc2626;
$light-gr: #f3f4f6;

$base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1536px;