.container--main {
    max-width: 1536px;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &.home-layout {
        gap: 64px;
    }
    .app-section {
        padding-block: 48px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-radius: 12px;
        &--flush {
            padding: 0;
        }
        &--lg-gap {
            gap: 48px;
        }
        &--bg-w {
            background-color: $w;;
        }
        .section-title {
            color: $blue-d;
            font-size: 30px;
            font-weight: 700;
            &--center {
                text-align: center;
            }
            &--w {
                color: $w;
            }
        }
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
}